# IntelliJ files
.idea/
*.iml
*.ipr
*.iws

# Built files
out/

# Everything from Gradle
gradle/
.gradle/
gradlew/
build/

# Library files
lib/

# Local properties file - contains keys, should not be uploaded
src/main/resources/local.yml